@media only screen and (max-width: 768px) {

    header {
      height: auto;
      position: static;
      box-shadow: none;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .logo img {
      width: 150px;
    }
  
    .navbar div {
      padding: 15px 0;
      max-width: none;
    }
  
    .container {
      padding: 30px 10px;
      width: auto;
      max-width: none;
    }
  
    .about-text {
      width: 100%;
    }
  
    .avatar img {
      width: 150px;
    }
  
    .projects,
    .container {
      padding: 40px 10px;
      display: list-item;
    }
  
    .project-item,
    .card {
      margin: 20px 0;
      width: 90%;
    }

    #internship{
        width: 400px;
    }

.navbar.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 55px;
/*     top: 100%;
    left: 0; */
    width: 100%;
    background-color: #222;
    padding: 20px;
  }
  .navbar.active div {
    padding: 10px 0;
  }
  .navbar.active a {
    color: #fff;
    text-align: center;
  }
  
  /* Increase menu button size */
.menu-toggle {
    display: block;
    font-size: 24px; /* Adjust the font size to increase button size */
    padding: 10px; /* Add padding to increase clickable area */
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  /* Adjustments for mobile */
  @media only screen and (min-width: 769px) {
    .navbar {
      display: flex;
    }
    .menu-toggle {
      display: none;
    }
  }
  

  }


/* Show navbar links for larger screens */
@media only screen and (min-width: 769px) {
    .navbar {
      display: flex;
    }
    .menu-toggle {
      display: none; /* Hide the menu button for larger screens */
    }
  }
