* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #161513;
  color: #c5c5c5;
}

a {
  text-decoration: none;
}

header {
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: transparent;
  width: 100%;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px,
    0px 0px 10px 5px rgba(255, 255, 255, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: -10 auto;
  text-align: center;
  background: rgb(0, 0, 0);
}

.logo {
  padding: 0px;
  text-align: center;

}

.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: #601cfc;
}

.logo img {
  margin-left: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 250px !important;
}

.navbar {
  display: flex;
}

.navbar div {
  padding: 30px 20px;
}

.navbar a {
  color: #fff;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
}

.avatar img {
  width: 251px;
}

.about {
  text-align: center;
}

.about-text {
  width: 652px;
  margin: 30px auto;
}

.about-text h1 {
  font-size: 55px;
  line-height: 1;
  color: #fff;
}

.about-text h1>span {
  background: var(--Primary-Gradient,
      linear-gradient(116deg, #ff8660 71.79%, #9a33ff 95.51%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text p {
  font-size: 18px;
  margin-top: 30px;
}

.about-btn {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.btn-primary {
  width: 195px;
  height: 64px;
  border-radius: 50px;
  border: 1px solid var(--Primary-Color, #fff);
  background: linear-gradient(0deg,
      var(--Primary-Color, #fff) 0%,
      var(--Primary-Color, #fff) 100%),
    var(--Primary-Color, #fff);
  font-size: 22px;
  margin-right: 20px;
}

.btn-secondary {
  width: 195px;
  height: 64px;
  background: none;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 22px;
  color: #fff;
}

.experience-with {
  text-align: center;
}

.experience-with h2 {
  font-size: 20px;
}

.experience-with-lang {
  display: flex;
  width: 500px;
  margin: 50px auto;
  justify-content: space-between;
}

.experience-with-lang img {
  width: 42px;
  cursor: pointer;
}

.primary-heading {
  text-align: center;
  font-size: 35px;
}

.heading-project {
  background: var(--Orange-Gradient,
      linear-gradient(180deg, #ff8660 0%, #d5491d 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.project-item {
  background: #2a2a2a;
  margin: 20px;
  border-radius: 18px 18px 0 0;
}

.project-item img {
  width: 100%;
  border-radius: 18px 18px 0 0;
}

.project-title {
  padding: 15px;
}

.project-title h3 {
  color: #fff;
}

.heading-experience {
  background: var(--Blue-Gradient,
      linear-gradient(180deg, #5badff 0%, #1373d1 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-item {
  padding: 30px 0;
}

.experience-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.experience-title-container .date {
  margin-left: auto;
}

.experience-title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}

footer {
  background-color: #191919;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

footer p {
  font-size: 15px;
}

.email-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.email-container img {
  margin-right: 10px;
}

.social-links {
  display: flex;
  margin-top: 40px;
}

.social-links img {
  margin-right: 20px;
}

.btn-secondary {
  width: 195px;
  height: 64px;
  background: none;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 22px;
  color: #fff;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary:hover {
  background: #fff;
  color: #161513;
}


#skills {
  text-align: center;
}

.heading-skills {
  background: var(--Green-Gradient, linear-gradient(180deg, #61c083 0%, #1f775e 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.skill-item {
  width: 150px;
  margin: 20px 0;
}

.skill-item img {
  width: 100%;
  height: 142px;
}

.skill-item p {
  margin-top: 10px;
  color: #fff;
}

.logo img {
  margin-left: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 120px;
  /* Adjust the width to your desired size */
}

.navbar div {
  padding: 30px 20px;
  max-width: 120px;
  /* Set a maximum width for the buttons */
}

.navbar a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.social-links {
  display: flex;
  margin-top: 40px;
}

.social-links img {
  width: 40px;
  /* Set the desired width for the social icons */
  height: 40px;
  /* Set the desired height for the social icons */
  margin-right: 20px;
}


.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #4a4949;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

#internship {
  width: 500px;
}

#internship-button {
  display: flex;
}


.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #1943c0;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
  color: white;
}

/* CSS for mobile menu */
.menu-toggle {
  display: block; /* Show the menu button */
}

.navbar {
  display: none; /* Hide the navbar links by default */
}

